* {
  margin: 0;
}

/*          */
body {

  background-color: #FFE4C4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
table{
    max-width: 500px;
    margin: auto;
}
/*          */
input {
  color: black;
  font-size: 60%;
  text-align: center;
  width: 50px;
}

/*          */
label {
  font-size: 60%;
  text-align: center;    
}

/*          */
div form input.submit_button {
  margin-bottom: 10px;
  width: 100px;
}

/*  https://stackoverflow.com/questions/6712946/add-borders-on-tbody 
    https://www.w3schools.com/tags/tag_tbody.asp
    https://stackoverflow.com/questions/2454936/css-select-th-tags-only-within-the-tbody-of-a-table/2454940
*/
tbody > tr > td {
  background-color: #A9A9A9;              
  color: white;
  height: 25px;
  font-size: 100%;
  font-weight: 900;
  text-align: center;
  width: 25px;
}

/*  https://stackoverflow.com/questions/10301776/first-child-selector-within-table 
    https://stackoverflow.com/questions/2454936/css-select-th-tags-only-within-the-tbody-of-a-table/2454940*/
tbody > tr:first-child > td {
  background-color: #FF7F50;
  color: white;
}

/* https://css-tricks.com/complete-guide-table-element/ */
tbody > tr > td:first-child {
  background-color: #FF7F50;
  color: white;
}

/* https://stackoverflow.com/questions/10301776/first-child-selector-within-table */
tbody > tr:first-child > td:first-child {
  background-color: #ffffff;   
  border-top: none;           
  border-left: none;
  color: black;
  opacity: 0;
}

/*          */
#warning {
  color: red;
  font-size: 60%;
}

/*          */
.error {
  color: red;
  font-size: 60%;
  font-style: italic;
  font-weight: 900;
  text-align: center;
}

/*          */
input.error {
  border: 3px solid red;
}

/*          */
.ui-slider-horizontal {
  background: #A9A9A9;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*          */
.ui-slider-horizontal .ui-slider-handle {
  background: #FF7F50;             
  border: none;
}


/*          */
.tab.ui-state-active {
  background: #FF7F50;            
  color: black;
}

/*          */
.title {
  background-color: #FF7F50;
  color: white;
  font-family: "Sigmar One";
  font-size: 50%;
  padding-left: 5px;
  padding-right: 5px;
}


/*          */
h1.name {
  color: white;
  font-size: 500%;
  text-align: center;
}

/* https://www.w3schools.com/colors/color_tryit.asp?hex=FFE4C4 */
.info {
  color: #696969;
  font-size: 150%;
  font-weight: 800;
  text-align: center;
}

/*          */
.margins {
  color: black;
  font-size: 200%;
  font-weight: 900;
  margin: 10px;
  text-align: center;
}




